{% extends "base.html.twig" %}

{% block main %}
	{{ form_start(form) }}
	<section class="">
		<div class="container">
			<div class="row text-center">
				<h2 class="my-4">Inscrivez-vous</h2>
				<div class="col-6">
					{{ form_row(form.firstName, { 'name': 'Prénom' }) }}
				</div>
				<div class="col-6">
					{{ form_row(form.lastName, { 'name': 'Nom' }) }}
				</div>
				<div class="col-12">
					{{ form_row(form.email) }}
				</div>
				<div class="col-12">
					{{ form_row(form.password, { 'name': 'Mot de passe' }) }}
				</div>
				<div class="col-12">
					{{ form_row(form.subscription, { 'name': 'Abonnement' }) }}
				</div>
				<div class="col-12">
					{{ form_row(form.send, { 'label': 'Envoyez' }) }}
				</div>
			</div>
		</div>
	</section>
	{{ form_end(form) }}
{% endblock %}

{% block footer %}{% endblock %}
