<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<div class="col-lg-4">
			<a class="navbar-brand" href="{{ path('index') }}">Stockify</a>
		</div>
		<!-- Bouton Burger -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse col-lg-4 justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				{% if app.user is not defined or app.user is null %}
					<li class="nav-item">
						<a href="{{ path('login') }}" class="nav-link active">
							Se connecter
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_user_new') }}" class="nav-link active">
							S'inscrire
						</a>
					</li>
				{% elseif app.user is defined and app.user is not null %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Hi
							{{ app.user.firstName }}
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('app_user_show', {id : app.user.id} ) }}">Profil</a>
							</li>
							{% if app.user.roles.0 == 'ROLE_ADMIN' %}
								<li><hr class="dropdown-divider"></li>
								<li>
									<a href="{{ path('admin') }}" class="dropdown-item">
										Admin
									</a>
								</li>
							{% endif %}
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a href="{{ path('dashboard') }}" class="nav-link active">
							Dashboard
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% for type, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
	{% for message in messages %}
		<div class="alert alert-{{ type }}" role="alert">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}
